*.csv
*.dylib
recommendation_engine/datasets/
recommendation_engine/test_scripts/testvenv/
recommendation_engine/test_scripts/testvenv/lib/python3.9/site-packages/numpy/.dylibs/
recommendation_engine/test_scripts/testvenv/lib/python3.9/site-packages/scipy/.dylibs/
recommendation_engine/test_scripts/testvenv/lib/python3.9/site-packages/torch/lib/
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


*.env
*.env.example
*.env.local
*.env.staging
.env